#l{
    position: relative;
    z-index: 11111;
}
#l>.center-box{
    position: absolute;
    width: 150px;
    height:150px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#l>.center-box>div{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color:#fff;
    position: absolute;
    animation: animate .8s infinite;
}
#l>.center-box>div:first-child{
    top:0;
    left:65px;
}
#l>.center-box>div:nth-child(2){
    top:19px;
    left:111px;
    animation-delay: .2s;
}
#l>.center-box>div:nth-child(3){
    top:65px;
    left:130px;
    animation-delay: .3s;
}
#l>.center-box>div:nth-child(4){
    top:111px;
    left:111px;
    animation-delay: .4s;
}
#l>.center-box>div:nth-child(5){
    top:130px;
    left:65px;
    animation-delay: .5s;
}
#l>.center-box>div:nth-child(6){
    top:111px;
    left:19px;
    animation-delay: .6s;
}

#l>.center-box>div:nth-child(7){
    top:65px;
    left:0px;
    animation-delay: .7s;
}
#l>.center-box>div:nth-child(8){
    top:19px;
    left:19px;
    animation-delay: .7s;
}
@keyframes animate{
    50%{
        transform:scale(1.5,1.5);
    }
    100%{
        transform: scale(1,1);
    }
}